.admin-dashboard {
  padding: 25px;
}

.dashboard-header h2 {
  font-weight: 700;
  margin-bottom: 5px;
}

.dashboard-header p {
  color: #6b7280;
}

.stats-card {
  padding: 25px;
  border-radius: 15px;
  color: white;
  text-align: center;
  transition: 0.3s;
}

.stats-card:hover {
  transform: translateY(-5px);
}

.stats-card h3 {
  font-size: 32px;
  font-weight: 700;
}

.stats-card p {
  margin: 0;
  font-size: 15px;
}

.employees {
  background: #2563eb;
}

.attendance {
  background: #16a34a;
}

.payroll {
  background: #9333ea;
}

.departments {
  background: #ea580c;
}

.dashboard-table {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.08);
}

.dashboard-table h4 {
  margin-bottom: 20px;
}