.navbar {
    position: fixed;
    top: 0;
    z-index: 1050;
}

.navbar {
    background: #03363D !important;

    min-height: 64px;

    padding: 0.5rem 1.25rem;

    border-bottom: 1px solid rgba(255,255,255,0.08);

    box-shadow: 0 2px 12px rgba(0,0,0,.12);

    position: sticky;
    top: 0;
    z-index: 1050;
}

.navbar .nav-link:hover {
    color: #FFFFFF !important;
}

.navbar .nav-link.active {
    color: #FFFFFF !important;
    font-weight: 600;
}

.navbar .nav-link {
    color: rgba(255,255,255,.85) !important;

    font-size: 15px;
    font-weight: 500;

    transition: .2s ease;
}

.navbar-toggler {
    border: none;
    box-shadow: none !important;
}

navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

.bi-house-door {
    font-size: 18px;
}

.navbar .bi {
    font-size: 18px;
}

.nav-profile {
    display: flex;
    align-items: center;
    gap: 8px;

    color: white;

    cursor: pointer;
}

.nav-profile:hover {
    opacity: .9;
}

.profile-avatar {
    width: 36px;
    height: 36px;

    border-radius: 50%;

    background: #17494D;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 16px;          /* spacing between search & profile */
  margin-left: auto;  /* push to right */
}


.nav-right-section {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: auto;
}

.bi bi-house-door{
  display:flex;
  justify-content: center;
  align-items: center;
}



/* OFFCANVAS BODY */
.management-menu-stack {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 25px;
}

/* DROPDOWN BUTTON */
.management-menu-stack .dropdown-toggle {
  width: 100%;
  text-align: left;

  padding: 12px 16px;

  border-radius: 10px;
  border: none;

  background: #6b7280;
  color: white;

  font-size: 16px;
  font-weight: 500;

  transition: 0.2s ease;
}

/* HOVER EFFECT */
.management-menu-stack .dropdown-toggle:hover {
  background: #4b5563;
}

/* DROPDOWN MENU */
.management-menu-stack .dropdown-menu {
  width: 90%;
  border-radius: 10px;
  border: none;

  padding: 8px 0;

  box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

/* DROPDOWN ITEMS */
.management-menu-stack .dropdown-item {
  padding: 10px 16px;
  cursor: pointer;

  transition: 0.2s ease;
}

/* ITEM HOVER */
.management-menu-stack .dropdown-item:hover {
  background: #f3f4f6;
  color: #111827;
}

/* OFFCANVAS TITLE */
.offcanvas-title {
  font-size: 28px;
  font-weight: bold;
  color: #ffff;
}

/* BODY TEXT */
.offcanvas-body {
  color: rgba(255,255,255,0.75);
  line-height: 1.8;
  font-size: 15px;

}

.offcanvas {
    background: #17494D;
    color: white;
    border-right: 1px solid rgba(255,255,255,0.08);
}