.sidebar {
  width: 260px;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  background: #111827;

  padding: 20px;

  overflow-y: auto;

  z-index: 1000;
}

.sidebar-title {
  color: white;
  margin-bottom: 40px;
  font-weight: 700;
}

.sidebar-link {
  display: block;

  padding: 12px 18px;

  color: white;
  text-decoration: none;

  border-radius: 10px;

  transition: all 0.3s ease;
}

.sidebar-link:hover {
  background-color: rgba(37, 99, 235, 0.2);
  color: white;
}

.active-link {
  background: #2563eb;
  color: white !important;
  box-shadow: 0 4px 15px rgba(37, 99, 235, 0.5);
  font-weight: 600;
}